@page
@model WebApplication7.Models.Estacions
@{
 
}


<h1 class="text-danger">HISTORIA.</h1>

    <p>
        <strong>Historic a tope:</strong> <code>@(((WebApplication7.Models.Estacions)ViewData["idEstacio"]).idEstacio)</code>
    </p>


<label for="start">Data Inici:</label>

<input type="date" id="start" name="trip-start"
       value="2020-12-18"
       min="2018-01-01" max="2025-12-31">

<label for="start">Data Fi:</label>

<input type="date" id="end" name="trip-start"
       value="2020-11-18"
       min="2018-01-01" max="2025-12-31">

<input type="button" value="Go Somewhere Else" onclick="location.href='<%: Url.Action(" Action", "Controller" ) %>'" />

<button type="button" id="btn" onclick="cercaHistoric(start, end)"> HISTORIC MENSUAL!</button>
@functions{

}

@section Scripts
    {
    <script type="text/javascript">
        function cercaHistoric(start, end) {

            $.ajax({
                async: false,
                data: { "idEstacio": , "dataInici": start, "dataFi": end },
                type: "GET",
                url: "http://localhost:29164/estacions/FindDate",
                dataType: "json"
            }).done(function (data) {
                start = data;
            })
        })
}
    </script>
}
