<!DOCTYPE html>
<html ng-app="leaflet-app">

<head>
  <meta charset="utf-8">
  <title>Aplicació meteorològica SIGMA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" crossorigin="" />
</head>

<body ng-controller="sidebarPointListController">
  <leaflet url-hash-center="yes"></leaflet>
  <!-- Sidebar esquerre -->
  <div id="sidebarPointList" class="leaflet-sidebar collapsed">
    <leaflet center="london" width="100%"></leaflet>
    <!-- nav tabs -->
    <div class="leaflet-sidebar-tabs">
      <!-- top aligned tabs -->
      <ul role="tablist">
        <li><a href="#home" role="tab"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <!-- panel content -->
    <div class="leaflet-sidebar-content">
      <div class="leaflet-sidebar-pane" id="home">
        <h1 class="leaflet-sidebar-header">
          Estacions Meteorlògiques
          <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>
        <h2 style="text-align:center; color:white">Estacions meteorològiques de la Garrotxa</h2>
        <ul class="mainList">
          <br>
          <li class="transformList"><a class="sideTitle" (click)="centerMap(42.181235, 2.488137, 16)">Mercadona</a></li>
          <br>
          <li class="transformList"><a class="sideTitle" (click)="centerMap(42.180909, 2.484339, 16)">Telepizza</a></li>
          <br>
          <li class="transformList"><a class="sideTitle" (click)="centerMap(42.182054, 2.483448, 16)">Carrer Pare Roca</a></li>
          <br>
          <li class="transformList"><a class="sideTitle" (click)="centerMap(42.182308, 2.485959, 16)">Ca La Tupina </a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Sidebar dreta -->
  <div id="sidebar" class="leaflet-sidebar collapsed">
    <!-- nav tabs -->
    <div class="leaflet-sidebar-tabs">
      <mat-raised-button>Connectar</mat-raised-button>>
      <ul role="tablist"></ul>
    </div>
  </div>

  <div class="map-container">
    <div class="map-frame">
      <div id="map">
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" crossorigin=""></script>
</body>

</html>
